body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: white;
}

/* LOGIN */
#login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#login input {
    padding: 12px;
    border-radius: 8px;
    border: none;
    width: 250px;
}

#login button {
    padding: 10px 20px;
    background: #4f46e5;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

/* MAIN CHAT */
#chat {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    background: #020617;
    border-right: 1px solid #1e293b;
    padding: 15px;
}

.sidebar h3 {
    margin-bottom: 10px;
}

.user {
    padding: 12px;
    border-radius: 10px;
    background: #1e293b;
    margin-bottom: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.user:hover {
    background: #334155;
}

/* CHAT AREA */
.chat-area {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* HEADER */
.chat-header {
    padding: 15px;
    background: #020617;
    border-bottom: 1px solid #1e293b;
}

/* MESSAGES */
#messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

/* MESSAGE BUBBLES */
.message {
    max-width: 60%;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.me {
    background: #4f46e5;
    align-self: flex-end;
}

.other {
    background: #1e293b;
    align-self: flex-start;
}

/* INPUT */
.input-area {
    display: flex;
    padding: 10px;
    background: #020617;
}

.input-area input {
    flex: 1;
    padding: 12px;
    border-radius: 10px;
    border: none;
}

.input-area button {
    margin-left: 10px;
    padding: 12px;
    background: #4f46e5;
    border: none;
    color: white;
    border-radius: 10px;
}